{% extends 'upbase.html' %}
{% load crispy_forms_tags %}
{% block title %} Add Document | {{ block.super }}{% endblock title %}

{% block content %}
<div class="document2 row mt-4">
    <div class=" col-md-8 offset-md-2">
        {% comment %} <h4 class="add_book">Add New Document</h4> {% endcomment %}
        <form class="form3" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="buttonpro btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}